title {
    position: sticky;
}

header {
    margin-bottom: 4em;
}

body {
    background-color: #F5F5F5;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    /*text-decoration: underline;*/
}

h3 {
    margin-left: 2em;
}

p {
    /*margin-block-start: 0.1em;
    margin-left: 4em;*/
}

.center{
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}

.homePage{
    margin-left: 2vw;
    text-align: center;
}

.page3{
    margin-left: 2vw;
    text-align:center;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.content img{
    min-width:200px;
    height:auto;
    max-width:431px;
    width:40vw;
}

.title{
    text-align: center;
    position: relative;
    margin-bottom: .3em;
}

.nav{
    text-align: center;
    color:#4682B4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nav a:hover{
    background-color: palegoldenrod;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.curPage{
    background-color: khaki;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.blockedText{
}

.gallery{
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*margin: 5px;*/
    grid-gap: 1rem;
    /*position: relative;*/
    justify-items: center;
    
}

.gallery .expand img {
    min-height: 100px;
    width: 200px; 
    height:auto;
    /*z-index: 0;
    overflow: hidden;*/
}

/*
.gallery .expand img:hover{
    top:-25px;
    left:-35px;
    position: absolute;
    width:500px;
    height:auto;
    display:block;
    z-index: 100;
    overflow: scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
}*/

.galSections{
    /*border: 1px solid #ccc;*/
}

.gallery iframe{
    width: 200px;
    min-height: 100px;
    height:auto;
}

button {
    font-weight: bold;
    border: 1px black;
    background-color: azure;
}

button:hover {
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}